- cache(singlecard) do
  = element_view_for(singlecard) do |el|
    .layout
      = el.render :layout
    .title
      = el.render :title
    .subtitle
      = el.render :subtitle
    .description
      = el.render :description
    .picture
      = el.render :picture
